/* Custom CSS overrides.
  This file is included after "theme.css".
  Hence no variable overrides should be defined here,
  unless they are to be local (to this file).

  Variable overrides should be defined in "custom_vars.css".
*/

/* SERVICES */

.service-box {
    border: 3px solid var(--GENERAL-FONT-COLOR-2);
}

/* SKILLS */

#skills .section-heading {
    color: black;
}

#skills .text-primary {
    text-shadow: 1px 1px 3px white,
                 -1px -1px 3px white,
                 -1px 1px 3px white,
                 1px -1px 3px white;
}

.skills-container {
    border: 3px solid var(--GENERAL-FONT-COLOR-2);
}

.tags a:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* PROJECTS */

.projects a {
    color: var(--GENERAL-FONT-COLOR-1);
    text-decoration: none;
}
.projects a:hover {
    color: var(--GENERAL-LINK-ACTIVE-COLOR-1);
}

/* CONTACT */

#contact {
    background-position: bottom right;
    background-repeat: no-repeat;

    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
}
@media(max-width: 768px) {
    #contact {
        background-size: auto 50vh;
        -webkit-background-size: auto 50vh;
        -moz-background-size: auto 50vh;
        -o-background-size: auto 50vh;
    }
}

#contact a {
    text-decoration: none;
}
