<div id="particles_container">
    <canvas id="particles_canvas">This browser doesn't support HTML5 canvas!</canvas>
    <div id="particles_counter"></div>
    <button id="particles_button" type="button"
        {{- /* TODO: use image?
        style="background-image: url('{{ "images/BUTTON_IMAGE.png" | absURL }}'); background-size: 100% 100%; width: 100px; height: 100px;"
        */ -}}
        {{- /* TODO: make better */ -}}
        style="border-radius: 10%; width: 65px; height: 20px; font-size: 75%; align-items: center;"
        >RESTART</button>
</div>
<script src="{{ "js/particles.js" | relURL }}"></script>
<link rel="stylesheet" href="css/particles.css">